<table class="attributes">
  <tr><th>送信者</th><td><%= @message.decorate.sender %></td></tr>
  <tr><th>件名</th><td><%= @message.decorate.subject %></td></tr>
  <tr><th>作成⽇時</th><td class="date"><%= @message.created_at %></td></tr>
</table>
<div class="body"><%= @message.decorate.formatted_body %></div>